@use "vars" as *;

@mixin grid-styles($start: 1, $end: 12) {
  .grid {
    display: grid;
    grid-column: span 2 / span 2;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 3px;
  }

  @for $i from $start through $end {
    .grid-#{$i}col {
      grid-column: span #{$i} / span #{$i};
      grid-template-columns: repeat(#{$i}, minmax(0, 1fr));
    }
  }
}

.#{$system-id}.actor {
  @include grid-styles;

  // If the user wishes to sort skills by column, we need to
  // explicitly define a number of rows, rather than columns.
  .grid-13row {
    grid-template-rows: repeat(13, minmax(0, auto)) !important;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr)) !important;
    grid-auto-flow: column !important;
  }
}
