@use "fonts" as *;

.deltagreen.sheet {
  section.window-content {
    scrollbar-color: #215112 #111 !important;
    padding: 0.5rem;
    color: black; /* Override for when in Foundry's dark mode */

    &.outlaw-style,
    &.cowboy-style,
    &.program-style {
      background-size: 100% !important;
    }

    &.outlaw-style,
    &.cowboy-style {
      background: url("../assets/img/StainedPlainPaper10b.webp") !important;
    }

    &.outlaw-style,
    &.program-style {
      font-family: $public-sans;
    }

    &.cowboy-style {
      font-family: $special-elite;
    }

    &.program-style {
      background: url("../assets/img/StainedPlainPaper10a.webp") !important;

      .tabs [data-action="tab"] {
        background: rgba(138, 136, 133, 0.3);
      }
    }

    input {
      &[type="checkbox"]:checked::before {
        color: black; /* Override for when in Foundry's dark mode */
      }

      &[type="text"],
      &[type="number"],
      &[type="password"] {
        height: unset;
        line-height: 1.5rem;
      }
    }
  }
}
