<h4 class="divider">{{localize "DG.About.SectionHeader"}}</h4>

<a class="button"
   href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/wiki"
   rel="nofollow noopener"
   target="_blank"
   data-tooltip="{{localize 'DG.About.DocumentationTooltip'}}">
    <i class="fa-solid fa-book" inert></i> {{localize "DG.About.Documentation"}}
</a>
<button type="button"
        class="button dg-support-open"
        data-tooltip="{{localize 'DG.About.SupportTooltip'}}">
    <i class="fa-solid fa-life-ring" inert></i> {{localize "DG.About.Support"}}
</button>
<a class="button"
   href="https://github.com/deltagreen-foundryvtt/delta-green-foundry-vtt-system/blob/master/CHANGELOG.md"
   rel="nofollow noopener"
   target="_blank"
   data-tooltip="{{localize 'DG.About.ChangelogTooltip'}}">
    <i class="fa-solid fa-clock-rotate-left" inert></i> {{localize "DG.About.Changelog"}}
</a>
<button type="button"
        class="button dg-legal-open"
        data-tooltip="{{localize 'DG.About.LegalTooltip'}}">
    <i class="fa-solid fa-scale-balanced" inert></i> {{localize "DG.About.LegalButton"}}
</button>
