<div class="stimulants-dialog">
    <div class="stimulants-option">
        <button type="submit"
                data-action="regular"
                class="stimulants-choice-btn">
            {{localize "DG.Physical.StimulantsRegular"}}
        </button>
        <p class="stimulants-explanation">{{localize "DG.Physical.StimulantsRegularExplanation"}}</p>
    </div>
    <div class="stimulants-option">
        <button type="submit"
                data-action="hard"
                class="stimulants-choice-btn">
            {{localize "DG.Physical.StimulantsHard"}}
        </button>
        <p class="stimulants-explanation">{{localize "DG.Physical.StimulantsHardExplanation"}}</p>
    </div>
</div>
