<header class="sheet-header">
    <div class="header-fields">
        {{!-- Name, Profession, Portrait --}}
        <div class="header-top flexrow">
            <img class="profile-img"
                 src="{{actor.img}}"
                 data-action="editImage"
                 data-edit="img"
                 data-tooltip="{{actor.name}}"
                 height="150"
                 width="100" />
            <div>
                <div class="">
                    <h1 class="charname">
                        <input name="name"
                               type="text"
                               value="{{actor.name}}"
                               data-tooltip="{{localize 'DG.AgentNameFieldTooltip' }}" />
                    </h1>
                </div>
                <div class="profession">
                    <h2 class="profession">
                        <input name="system.biography.profession"
                               type="text"
                               value="{{actor.system.biography.profession}}"
                               placeholder="{{subnameInfoPlaceholder}}" />
                    </h2>
                </div>
            </div>
        </div>
        <div class="resources grid grid-3col">
            {{!-- HP --}}
            <div class="resource-outer-grid-1col">
                <label for="actor.system.health.value"
                       class="resource-label"
                       data-tooltip="{{localize 'DG.Attributes.Tooltip.HP'}}">
                    {{localize 'DG.Attributes.HP' }} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)
                </label>
                <div class="resource-inner-grid-3col">
                    <input class="centered"
                           type="text"
                           name="system.health.value"
                           value="{{actor.system.health.value}}"
                           data-dtype="Number" />
                    <span>/</span>
                    <div class="max-resource-value"
                         data-tooltip="{{localize 'DG.Tooltip.MaximumHP'}}">
                        <div>{{numberFormat actor.system.health.max decimals=0 sign=false}}</div>
                    </div>
                </div>
            </div>
            {{!-- WP --}}
            <div class="resource-outer-grid-1col">
                <label for="system.wp.value"
                       class="resource-label"
                       data-tooltip="{{localize 'DG.Attributes.Tooltip.WP'}}">
                    {{localize 'DG.Attributes.WP' }}
                </label>
                <div class="resource-inner-grid-3col">
                    <input class="centered"
                           type="text"
                           name="system.wp.value"
                           value="{{actor.system.wp.value}}"
                           data-dtype="Number" />
                    <span>/</span>
                    <div class="max-resource-value"
                         data-tooltip="{{localize 'DG.Tooltip.MaximumWP'}}">
                        <div>{{numberFormat actor.system.wp.max decimals=0 sign=false}}</div>
                    </div>
                </div>
            </div>
            {{!-- Sanity --}}
            {{> "systems/deltagreen/templates/actor/partials/sanity-partial.html" }}
        </div>
    </div>
</header>
