<div class="left-bar">
    <div class="header-top flexcol">
        <img class="profile-img"
             src="{{actor.img}}"
             data-action="editImage"
             data-edit="img"
             data-tooltip="{{actor.name}}" />
        <div class="header-name-fields">
            <input class="fill-remaining-space"
                   name="name"
                   type="text"
                   value="{{actor.name}}"
                   data-tooltip="{{localize 'DG.AgentNameFieldTooltip' }}" />
            {{> "systems/deltagreen/templates/actor/partials/profession-subname.html" }}
        </div>
    </div>

    <div class="stats-wrapper">
        <a class="stats-edit-btn" title="{{localize 'Edit Stats'}}" data-action="openStatsEdit">
            <i class="fas fa-pen"></i>
        </a>

        <div class="grid grid-3col stats">
            {{#each actor.system.statistics as |statistic key| }}
            <div class="flex-group-center flex-mid-border">
                <div>
                    <div class="physical-stats-outer-grid-3col agent-left-bar-stat-grid">
                        <label class="rollable resource-label"
                               data-action="roll"
                               data-rolltype="stat"
                               data-key="{{key}}"
                               data-tooltip="{{statistic.tooltip}}"
                               for="system.statistics.{{key}}.value">
                            {{localize (concat 'DG.Attributes.' key)}}
                        </label>
                        {{> "systems/deltagreen/templates/actor/partials/ae-backed-input.html"
                            hostClass="ae-input-host--stat"
                            inputClass=(concat "centered " statistic.rollTargetDisplayClass)
                            inputId=(concat "system.statistics." key ".value")
                            name=(concat "system.statistics." key ".value")
                            base=statistic.value
                            effective=statistic.effectiveValue
                            displayClass=statistic.valueDisplayClass
                            aeModifier=statistic.statisticAeModifier
                            dtype="Number" }}
                    </div>
                </div>
            </div>
            {{/each}}
        </div>
    </div>

    <div class="resources grid grid-3col">
        {{!-- HP --}}
        <div class="resource-outer-grid-1col">
            <label for="actor.system.health.value"
                   class="resource-label"
                   data-tooltip="{{localize 'DG.Attributes.Tooltip.HP'}}">
                {{localize 'DG.Attributes.HP' }} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)
            </label>
            <div class="resource-inner-grid-3col">
                <input class="centered"
                       type="text"
                       name="system.health.value"
                       value="{{actor.system.health.value}}"
                       data-dtype="Number" />
                <span>/</span>
                <div class="max-resource-value {{actor.system.health.maxDisplayClass}}"
                     data-tooltip="{{localize 'DG.Tooltip.MaximumHP'}}">
                    <div>{{numberFormat actor.system.health.max decimals=0 sign=false}}</div>
                </div>
            </div>
        </div>
        {{#if (ne actor.type "vehicle") }}
        {{!-- WP --}}
        <div class="resource-outer-grid-1col">
            <label for="system.wp.value"
                   class="resource-label"
                   data-tooltip="{{localize 'DG.Attributes.Tooltip.WP'}}">
                {{localize 'DG.Attributes.WP' }}
            </label>
            <div class="resource-inner-grid-3col">
                <input class="centered"
                       type="text"
                       name="system.wp.value"
                       value="{{actor.system.wp.value}}"
                       data-dtype="Number" />
                <span>/</span>
                <div class="max-resource-value {{actor.system.wp.maxDisplayClass}}"
                     data-tooltip="{{localize 'DG.Tooltip.MaximumWP'}}">
                    <div>{{numberFormat actor.system.wp.max decimals=0 sign=false}}</div>
                </div>
            </div>
        </div>
        {{!-- Sanity --}}
        {{> "systems/deltagreen/templates/actor/partials/sanity-partial.html" }}
        {{/if}}
    </div>

    <div class="luck mb-8">
        <label class="bolded-label rollable" data-action="rollLuck">
            {{localize 'DG.RollLuck'}}
            <i class="fas fa-dice"></i>
        </label>
    </div>

    <nav class="sheet-tabs tabs left-bar-tabs left-bar-tabs--rest-sanity"
         aria-roledescription="{{localize 'SHEETS.FormNavLabel'}}">
        {{#each leftBarRestSanityTabs as |tab|}}
        <a data-action="tab"
           data-group="{{tab.group}}"
           data-tab="{{tab.id}}"
           class="{{tab.cssClass}}">
            <span>{{localize tab.label}}</span>
        </a>
        {{/each}}
    </nav>

    <div class="left-bar-tab-panels left-bar-rest-sanity-panels">
        {{> "systems/deltagreen/templates/actor/partials/left-bar-sanity-tab.html" }}
        {{> "systems/deltagreen/templates/actor/partials/left-bar-rest-tab.html" }}
    </div>
</div>
