<div class="right-bar">
    {{> "systems/deltagreen/templates/actor/parts/skills-tab-agent.html" }}
    {{> "systems/deltagreen/templates/actor/parts/combat-tab-agent.html" }}
    {{> "systems/deltagreen/templates/actor/parts/gear-tab-agent.html" }}
    {{> "systems/deltagreen/templates/actor/parts/motivations-tab-agent.html" }}
    {{> "systems/deltagreen/templates/actor/parts/personal-tab-agent.html" }}
    {{> "systems/deltagreen/templates/actor/parts/effects-tab.html" }}
    {{> "systems/deltagreen/templates/actor/parts/about-tab.html" }}
</div>
