<div class="tab skills {{tabs.skills.cssClass}}"
     data-group="primary"
     data-tab="skills">
    <div class="horizontal-bar-section-divider">
        <span>{{localize "DG.Sheet.BlockHeaders.SkillsAndTraining"}}</span>
    </div>
    <div class="grid grid-3col">
        {{#each actor.system.sortedSkills as |skill key| }}
            <div class="flexrow flex-group-left flex-thin-border">
                <label class="{{if_gt skill.targetProficiency 0 'rollable' 'not-rollable'}} skill-label"
                       data-action="roll"
                       data-key="{{skill.key}}"
                       data-rolltype="skill"
                       for="system.skills.{{skill.key}}.value"
                       data-tooltip="{{concat (localize (concat 'DG.Skills.Tooltip.' skill.key)) '<br><br>' (localize (ifThen skill.proficiency 'DG.Tooltip.SkillLabel' 'DG.Tooltip.CannotRollSkillLabel')) }}">
                    {{localizeWithFallback (concat "DG.Skills." skill.key) skill.label }}
                    <i class="fas fa-dice"></i>
                </label>
                {{#if_eq skill.key 'ritual' }}
                    {{#if (keepSanityPrivate) }}
                        <input class="percentile-skill-input"
                               type="text"
                               name="system.skills.{{skill.key}}.proficiency"
                               value="??"
                               data-dtype="Number"
                               {{#if skill.isCalculatedValue }}
                               disabled
                               {{/if }} />
                        <input class="checkbox-skill-input"
                               type="checkbox"
                               name="system.skills.{{skill.key}}.failure"
                               {{checked skill.failure}}
                               data-dtype="Boolean"
                               {{#if skill.cannotBeImprovedByFailure }}
                               disabled
                               {{/if }}
                               title="{{localize 'DG.Tooltip.SkillFailCheckbox' }}" />
                    {{/if}}
                    {{#unless (keepSanityPrivate)}}
                        <input class="percentile-skill-input"
                               type="text"
                               name="system.skills.{{skill.key}}.proficiency"
                               value="{{skill.proficiency}}"
                               data-dtype="Number"
                               {{#if skill.isCalculatedValue }}
                               disabled
                               {{/if }} />
                        <input class="checkbox-skill-input"
                               type="checkbox"
                               name="system.skills.{{skill.key}}.failure"
                               {{checked skill.failure}}
                               data-dtype="Boolean"
                               {{#if skill.cannotBeImprovedByFailure }}
                               disabled
                               {{/if }}
                               title="{{localize 'DG.Tooltip.SkillFailCheckbox' }}" />
                    {{/unless}}
                {{/if_eq}}
                {{#if_not_eq skill.key 'ritual' }}
                    <input class="percentile-skill-input
                                  {{#if_not_eq skill.proficiency skill.targetProficiency }}
                                      target-proficiency-mod{{/if_not_eq }}"
                           type="text"
                           name="system.skills.{{skill.key }}.proficiency"
                           value="{{skill.proficiency }}"
                           data-dtype="Number"
                           data-tooltip="{{skill.targetProficiency }}"
                           {{#if skill.isCalculatedValue }}
                           disabled
                           {{/if }} />
                    <input class="checkbox-skill-input"
                           type="checkbox"
                           name="system.skills.{{skill.key}}.failure"
                           {{checked skill.failure}}
                           data-dtype="Boolean"
                           {{#if skill.cannotBeImprovedByFailure }}
                           disabled
                           {{/if }}
                           title="{{localize 'DG.Tooltip.SkillFailCheckbox' }}" />
                {{/if_not_eq}}
            </div>
        {{/each}}
    </div>
    {{!-- Custom Skills and Special Training --}}
    <div>
        {{> "systems/deltagreen/templates/actor/partials/custom-skills-partial.html" actorType="agent"}}
    </div>
</div>
