<div class="tab {{leftBarRestSanityTabs.rest.cssClass}}"
     data-group="leftBarRestSanity"
     data-tab="rest">
    {{> "systems/deltagreen/templates/actor/partials/left-bar-exhaustion-section.html" }}

    <div class="left-bar-action-stack">
        <a class="item-control action-pill left-bar-action-pill"
           data-action="restAgent">
            {{localize 'DG.Physical.Rest'}}
        </a>
        <a class="item-control action-pill left-bar-action-pill"
           data-action="takeStimulants">
            {{localize 'DG.Physical.Stimulants'}}
        </a>
    </div>
</div>
