<input class="centered
              {{#if actor.system.sanity.breakingPointHit }}
                  breaking-point-hit{{/if }}"
       type="text"
       name="system.sanity.value"
       {{#if keepSanityPrivate }}
       readonly
       {{/if }}
       value="{{ currentSan }}"
       data-dtype="Number"
       data-tooltip="{{localize 'DG.Tooltip.CurrentSanityPartOne' }}{{actor.system.sanity.currentBreakingPoint }}{{localize 'DG.Tooltip.CurrentSanityPartTwo' }}" />
<span>/</span>
<div class="max-resource-value"
     data-tooltip="{{localize 'DG.Tooltip.MaximumSanity'}}">
    <div>{{ maxSan }}</div>
</div>
