<form class="{{cssClass}} {{getCharacterSheetStyle}} flexcol"
      autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">

    <div class="header-fields">

      {{!-- Name, Portrait --}}
      <div class="flexrow">
        <img class="profile-img"
             src="{{actor.img}}"
             data-edit="img"
             title="{{actor.name}}"
             height="150"
             width="100" />
        <div>
          <div>
            <h1 class="charname">
              <input name="name" type="text" value="{{actor.name}}" />
            </h1>
          </div>
          <div class="">
            <h2 class="profession">
              <input name="system.shortDescription"
                     type="text"
                     value="{{actor.system.shortDescription}}"
                     placeholder="{{localize 'DG.VehicleSheet.DescriptionPlaceHolder'}}" />
            </h1>
          </div>
        </div>
      </div>

      <div class="resources grid grid-3col">

        {{!-- HP --}}
        <div class="resource-outer-grid-1col">
          <label for="actor.system.health.value"
                 class="resource-label"
                 data-tooltip="{{localize 'DG.Attributes.Tooltip.HP'}}">
            {{localize 'DG.Attributes.HP'}} (<span>{{actor.system.health.protection}} <i class="fas fa-shield-alt"></i></span>)
          </label>
          <div class="resource-inner-grid-3col">
            <input type="text"
                   name="system.health.value"
                   value="{{actor.system.health.value}}"
                   data-dtype="Number" />
            <span>/</span>
            <input type="text"
                   name="system.health.max"
                   value="{{actor.system.health.max}}"
                   data-dtype="Number" />
          </div>
        </div>
      </div>

    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Descriptions (Notes) --}}
    <div class="tab skills top-div-border"
         data-group="primary"
         data-tab="notes">
      <div>
        <span class="resource-label">{{localize 'DG.VehicleSheet.NotesLabel'}}</span>
      </div>
      <div class="unnatural-notes-section">
        <div class="editor-host">
          {{editor enrichedDescription target="system.description" engine="prosemirror" button=true owner=owner editable=editable}}
        </div>
      </div>

    </div>

  </section>

</form>
