<section class="deltagreen chat-card dg-chat-card">
  <header class="dg-chat-card__header">
    <div class="dg-chat-card__icon-slot">
      <img class="dg-chat-card__icon" src="systems/deltagreen/assets/img/green_delta_icon.webp" alt="" />
    </div>
    <div class="dg-chat-card__titles">
      <h4 class="dg-chat-card__speaker">{{speakerName}}</h4>
      <div class="dg-chat-card__label">{{{label}}}</div>
    </div>
  </header>
  <div class="dg-chat-card__body">{{{content}}}</div>
</section>
