<header class="">
    <div class="motivation-sheet-horizontal-grid-2col">
        <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.Motivation'}}:</span>
        <input type="text"
               name="name"
               value="{{item.name}}"
               placeholder=""
               data-dtype="String"
               title="{{localize 'DG.ItemWindow.Motivations.MotivationNameTooltip'}}"
               {{#if item.system.crossedOut }}
               style="text-decoration: line-through"
               disabled
               {{/if }} />
        <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.IsDisorder'}}:</span>
        <input type="checkbox"
               name="system.crossedOut"
               {{checked item.system.crossedOut}}
               data-dtype="Boolean"
               title="{{localize 'DG.ItemWindow.Motivations.IsDisorderTooltip'}}" />
        {{#if item.system.crossedOut }}
            <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.Disorder'}}:</span>
            {{#if disorderUsesKnownId}}
                <span class="disorder-display">{{disorderLabel}}</span>
                <input type="hidden"
                       name="system.disorder"
                       value="{{item.system.disorder}}"
                       data-dtype="String" />
            {{else}}
                <input type="text"
                       name="system.disorder"
                       value="{{item.system.disorder}}"
                       data-dtype="String"
                       title="{{localize 'DG.ItemWindow.Motivations.DisorderNameTooltip'}}" />
            {{/if}}
            <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.AcuteEpisode'}}:</span>
            <input type="checkbox"
                   name="system.acuteEpisode"
                   {{checked item.system.acuteEpisode}}
                   data-dtype="Boolean"
                   title="{{localize 'DG.ItemWindow.Motivations.AcuteEpisodeTooltip'}}" />
            <span class="resource-label">{{localize 'DG.ItemWindow.Motivations.DisorderHasBeenCured'}}:</span>
            <input class="labeled-resource-checkbox"
                   type="checkbox"
                   name="system.disorderCured"
                   {{checked item.system.disorderCured}}
                   data-dtype="Boolean"
                   title="{{localize 'DG.ItemWindow.Motivations.DisorderHasBeenCuredTooltip'}}" />
        {{/if}}
    </div>
</header>
