<header class="profession-item-header">
    <div class="profession-sheet-grid-2col">
        <img class="item-img"
             src="{{item.img}}"
             data-action="editImage"
             data-edit="img"
             title="{{item.name}}" />
        <div class="profession-sheet-horizontal-grid-2col">
            <span class="resource-label">{{localize 'DG.ItemWindow.Profession.Name'}}:</span>
            <input type="text"
                   name="name"
                   value="{{item.name}}"
                   placeholder="{{localize 'DG.ItemWindow.Profession.Name'}}"
                   data-dtype="String" />
            <span class="resource-label">{{localize 'DG.ItemWindow.Profession.Bonds'}}:</span>
            <input type="number"
                   class="item-sheet-short-input"
                   name="system.bonds"
                   value="{{item.system.bonds}}"
                   min="1"
                   max="5"
                   data-dtype="Number"
                   title="{{localize 'DG.ItemWindow.Profession.BondsTooltip'}}" />
        </div>
    </div>
</header>
