on:
  push:
    branches:
      - master
      - hotfix/**
  workflow_dispatch:

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      # -------------------------------
      # 1. Checkout SOURCE code
      # -------------------------------
      - name: Checkout source repo
        uses: actions/checkout@v4

      # -------------------------------
      # 2. Create useful variables/output.
      # -------------------------------
      - name: Compute branch folder
        id: vars
        shell: bash
        run: |
          BRANCH="${GITHUB_REF#refs/heads/}"

          if [[ "$BRANCH" == "master" ]]; then
            TARGET="dev"
            NON_TARGET="hotfix"
          else
            TARGET="hotfix"
            NON_TARGET="dev"
          fi

          echo "target=$TARGET" >> $GITHUB_OUTPUT
          echo "non_target=$NON_TARGET" >> $GITHUB_OUTPUT

      - name: Set version
        run: echo "SHORT_SHA=${GITHUB_SHA::7}" >> $GITHUB_ENV

      # -------------------------------
      # 3. Build and Zip the system
      # -------------------------------
      - name: Build Packs
        uses: ./.github/actions/build-packs

      - name: Substitute Download Link
        uses: TomaszKandula/variable-substitution@v1.0.1
        with:
          files: system.json
        env:
          version: ${{ steps.vars.outputs.target }}+${{ env.SHORT_SHA }}
          download: https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/${{ steps.vars.outputs.target }}/deltagreen.zip

      - name: Zip
        uses: ./.github/actions/zip-system

      # -------------------------------
      # 4. Deploy to Github Pages
      # -------------------------------
      - name: Create Site Structure
        shell: bash
        run: |
          # Create site directories.
          mkdir -p site/dev site/hotfix

          # Download files from non-target build.
          URL="https://${{ github.repository_owner }}.github.io/${{ github.event.repository.name }}/${{ steps.vars.outputs.non_target }}"
          wget -O site/${{ steps.vars.outputs.non_target }}/deltagreen.zip "$URL"/deltagreen.zip
          wget -O site/${{ steps.vars.outputs.non_target }}/system.json "$URL"/system.json

          # Copy files from current build.
          cp system.json deltagreen.zip site/${{ steps.vars.outputs.target }}/

      - name: Setup Pages
        uses: actions/configure-pages@v5

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: site

      - name: Deploy
        uses: actions/deploy-pages@v4
